@tailwind base;
@tailwind components;
@tailwind utilities;

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: white;
  opacity: 0.3;
}
#progress .indicator {
  stroke: red;
}

.footer {
  @apply
  relative
}

.footerContent {
position: relative;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #FFF !important;
}